/*
  buttons
*/

.btn-main {
  font-weight: 200;
  width: 140px;
}

/*
  Base
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  border-top: 12px solid #0097A7;
  margin: 0 0 50px;
}

.logo {
  font-weight: 200;
}

h1 {
  font-weight: 200;
  font-style: italic;
  margin-top: 100px;
  margin-bottom: 80px;
}

.callout {
  background: url("../coffee.jpg");
}

footer {
  color: #B2EBF2;
  line-height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}
